# Copyright 2024 Cisco Systems, Inc. and its affiliates
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)

---

- name: Verify required variables for selected role
  ansible.builtin.include_tasks: variables_assertion.yml

- name: Generate CSR for vManages
  cisco.catalystwan.devices_certificates:
    generate_csr: true
    device_ip: "{{ device_item.system_ip }}"
    manager_authentication:
      url: "{{ device_item.mgmt_public_ip }}"
      username: "{{ device_item.admin_username }}"
      password: "{{ device_item.admin_password }}"
  loop: "{{ vmanage_instances }}"
  loop_control:
    loop_var: device_item
    label: "hostname: {{ device_item.hostname }}, device_ip: {{ device_item.system_ip }}"
  register: generate_csr_response
  retries: 12
  delay: 10


- name: Sign vManage CSR with enterprise CA
  ansible.builtin.include_tasks: certificates.yml
  loop: "{{ generate_csr_response['results'] }}"
  loop_control:
    loop_var: csr_item
    label: "hostname: {{ csr_item.device_item.hostname }}, device_ip: {{ csr_item.device_item.system_ip }}"
  when:
    - controller_certificate_auth is defined and controller_certificate_auth == "enterprise"
    - csr_item.changed
  vars:
    csr_content: "{{ (csr_item['response']['generate_csr'] | first)['deviceCSR'] }}"
    csr_system_ip: "{{ csr_item.device_item.system_ip }}"
    mgmt_url: "{{ csr_item.device_item.mgmt_public_ip }}"
    mgmt_admin_username: "{{ csr_item.device_item.admin_username }}"
    mgmt_admin_password: "{{ csr_item.device_item.admin_password }}"

- name: Add vSmart devices
  cisco.catalystwan.devices_controllers:
    device_ip: "{{ device_item.transport_public_ip }}"
    username: "{{ device_item.admin_username }}"
    password: "{{ device_item.admin_password }}"
    hostname: "{{ device_item.hostname }}"
    personality: "vsmart"
    state: present
    manager_authentication:
      url: "{{ (vmanage_instances | first).mgmt_public_ip }}"
      username: "{{ (vmanage_instances | first).admin_username }}"
      password: "{{ (vmanage_instances | first).admin_password }}"
  loop: "{{ vsmart_instances }}"
  loop_control:
    loop_var: device_item
    label: "hostname: {{ device_item.hostname }}"
  register: devices_result
  retries: 12
  delay: 10

- name: Generate CSR for vSmarts
  cisco.catalystwan.devices_certificates:
    generate_csr: true
    device_ip: "{{ device_item.device_item.transport_public_ip }}"
    manager_authentication:
      url: "{{ (vmanage_instances | first).mgmt_public_ip }}"
      username: "{{ (vmanage_instances | first).admin_username }}"
      password: "{{ (vmanage_instances | first).admin_password }}"
  loop: "{{ devices_result['results'] }}"
  loop_control:
    loop_var: device_item
    label: "hostname: {{ device_item.device_item.hostname }}"
  when:
    - controller_certificate_auth is defined and controller_certificate_auth == "enterprise"
    - device_item.changed
  register: generate_csr_response
  retries: 12
  delay: 10

- name: Sign vSmart CSR with enterprise CA
  ansible.builtin.include_tasks: certificates.yml
  loop: "{{ generate_csr_response['results'] }}"
  loop_control:
    loop_var: csr_item
    label: "hostname: {{ csr_item.device_item.device_item.hostname }}, device_ip: {{ csr_item.device_item.device_item.system_ip }}"
  when:
    - controller_certificate_auth is defined and controller_certificate_auth == "enterprise"
    - csr_item.changed
  vars:
    csr_content: "{{ (csr_item['response']['generate_csr'] | first)['deviceCSR'] }}"
    csr_system_ip: "{{ csr_item.device_item.device_item.system_ip }}"
    mgmt_url: "{{ (vmanage_instances | first).mgmt_public_ip }}"
    mgmt_admin_username: "{{ (vmanage_instances | first).admin_username }}"
    mgmt_admin_password: "{{ (vmanage_instances | first).admin_password }}"

- name: Add vBond devices
  cisco.catalystwan.devices_controllers:
    device_ip: "{{ device_item.transport_public_ip }}"
    username: "{{ device_item.admin_username }}"
    password: "{{ device_item.admin_password }}"
    hostname: "{{ device_item.hostname }}"
    personality: "vbond"
    state: present  # state present means that device was added and certificated was installed
    # Consider using loop to check certificates check
    # Currently we cannot implement wait because of the mixed ips in vmanage itself
    manager_authentication:
      url: "{{ (vmanage_instances | first).mgmt_public_ip }}"
      username: "{{ (vmanage_instances | first).admin_username }}"
      password: "{{ (vmanage_instances | first).admin_password }}"
  loop: "{{ vbond_instances }}"
  loop_control:
    loop_var: device_item
    label: "hostname: {{ device_item.hostname }}"
  register: devices_result
  retries: 12
  delay: 10

- name: Generate CSR for vBonds
  cisco.catalystwan.devices_certificates:
    generate_csr: true
    device_ip: "{{ device_item.device_item.transport_public_ip }}"
    manager_authentication:
      url: "{{ (vmanage_instances | first).mgmt_public_ip }}"
      username: "{{ (vmanage_instances | first).admin_username }}"
      password: "{{ (vmanage_instances | first).admin_password }}"
  loop: "{{ devices_result['results'] }}"
  loop_control:
    loop_var: device_item
    label: "hostname: {{ device_item.device_item.hostname }}"
  when:
    - controller_certificate_auth is defined and controller_certificate_auth == "enterprise"
    - device_item.changed
  register: generate_csr_response
  retries: 12
  delay: 10

- name: Sign vBond CSR with enterprise CA
  ansible.builtin.include_tasks: certificates.yml
  loop: "{{ generate_csr_response['results'] }}"
  loop_control:
    loop_var: csr_item
    label: "hostname: {{ csr_item.device_item.device_item.hostname }}, device_ip: {{ csr_item.device_item.device_item.system_ip }}"
  when:
    - controller_certificate_auth is defined and controller_certificate_auth == "enterprise"
    - csr_item.changed
  vars:
    csr_content: "{{ (csr_item['response']['generate_csr'] | first)['deviceCSR'] }}"
    csr_system_ip: "{{ csr_item.device_item.device_item.system_ip }}"
    mgmt_url: "{{ (vmanage_instances | first).mgmt_public_ip }}"
    mgmt_admin_username: "{{ (vmanage_instances | first).admin_username }}"
    mgmt_admin_password: "{{ (vmanage_instances | first).admin_password }}"

- name: Wait until all controller devices are discoverable via system ip
  cisco.catalystwan.devices_info:
    device_category: controllers
    filters:
      local_system_ip: "{{ device_item.system_ip }}"
    manager_authentication:
      url: "{{ (vmanage_instances | first).mgmt_public_ip }}"
      username: "{{ (vmanage_instances | first).admin_username }}"
      password: "{{ (vmanage_instances | first).admin_password }}"
  register: device_details_info
  loop: "{{ vsmart_instances + vbond_instances + [vmanage_instances | first] }}"
  loop_control:
    loop_var: device_item
    label: "hostname: {{ device_item.hostname }}, device_ip: {{ device_item.system_ip }}"
  retries: 20
  delay: 10
  until: device_details_info.devices | default([]) and device_details_info.devices | length | int == 1

- name: Wait until cert_install_status == "Installed" on all controllers
  cisco.catalystwan.devices_info:
    device_category: controllers
    filters:
      local_system_ip: "{{ device_item.system_ip }}"
    manager_authentication:
      url: "{{ (vmanage_instances | first).mgmt_public_ip }}"
      username: "{{ (vmanage_instances | first).admin_username }}"
      password: "{{ (vmanage_instances | first).admin_password }}"
  register: device_details_info
  loop: "{{ vsmart_instances + vbond_instances + [vmanage_instances | first] }}"
  loop_control:
    loop_var: device_item
    label: "hostname: {{ device_item.hostname }}, device_ip: {{ device_item.system_ip }}"
  retries: 20
  delay: 10
  until: device_details_info.devices | default([]) and device_details_info.devices[0].cert_install_status == "Installed"
